<div class="home-container">

  <app-card
    gameCover="https://www.gamereactor.eu/media/49/easportsfc_4064953b.jpg"
    gameLabel="PRE-ORDER"
    gameType="Disc PS5"
    gamePrice="€ 79.99">
  </app-card>

  <app-card
    gameCover="https://www.callofduty.com/content/dam/atvi/callofduty/cod-touchui/blog/hero/mwiii/MWIII-REVEAL-FULL-TOUT.jpg"
    gameLabel="PRE ORDER"
    gameType="Disc PS5"
    gamePrice="€ 79.99">
  </app-card>

  <app-card
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202304/2714/d7a1f9339c13b4284fcba2acd8d5e4ba2867fa6ef3b8b857.png"
    gameLabel="PRE ORDER"
    gameType="Disc PS5"
    gamePrice="R$ 59.99">
  </app-card>

</div>

